html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

#adsbypasser-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
}

#adsbypasser-image {
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* vim: set ts=2 sts=2 sw=2 et : */
/* sublime: tab_size 2; translate_tabs_to_spaces true; detect_indentation false; use_tab_stops true; */
/* kate: space-indent on; indent-width 2; */
