#panel {
  border-width: 1px;
  border-style: solid;
  border-radius: 1em;
  border-color: gray;
  margin: 5em;
  padding: 3em;
  display: none;
}

#msg {
  margin: 3em;
  opacity: 0;
}

.animated {
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}

.dismissed {
  opacity: 1;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

/* HACK selector priority */
#msg.dismissed {
  opacity: 1;
}

#noscript-hint {
  margin: 3em;
}

#install-hint {
  margin: 3em;
  opacity: 0;
  display: none;
}
