doctype html
html(lang='en')

  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='chrome=1')
    title= locals.title

    link(rel='stylesheet' media='screen' href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css')
    link(rel='stylesheet' media='screen' href='css/configure.css')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')

  body
    .container

      noscript
        #noscript-hint.alert.alert-warning.text-center
          strong JavaScript is disabled, please check your browser or extension setting.

      #msg.alert.alert-success.text-center(role='alert')
        strong Configuration Updated

      #install-hint.alert.alert-warning.text-center(role='alert')
        strong
          |It seems that AdsBypasser is not installed or active,&nbsp;
          a(href='https://adsbypasser.github.io/') see here for installation instructions
          |.
      #panel(role='form')
        #options.form-group
        .form-group
          button#save.btn.btn-primary.pull-right(type='submit') Save
          .clearfix

    script#template-checkbox(type='text/plain').
      <div class="checkbox">
        <label>
          <input type="checkbox" name="<%= key %>" value="" <% if (checked) { %>checked<% } %> /><%= label %>
        </label>
        <p class="help-block"><%= help %></p>
      </div>

    script#template-select(type='text/plain').
      <div class="form-group">
        <label class="control-label" for="select-<%= key %>"><%= label %></label>
        <select class="form-control" id="select-<%= key %>" name="<%= key %>">
          <% _.each(menu, function (entry) { %>
            <option value="<%= entry[0] %>" <% if (value === entry[0]) { %>selected<% } %>><%= entry[1] %></option>
          <% }); %>
        </select>
        <p class="help-block"><%= help %></p>
      </div>

    script(src='//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.8.0/lodash.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js')
    script(src='js/render.js')
