---
---

@import "{{ site.theme }}";

/* Custom navigation links styling for AdsBypasser */
header div.links {
  margin-top: 25px;
  margin-bottom: 25px;

  > a {
    display: block;

    width: 270px;
    height: 40px;

    padding: 0;
    margin-top: 5px;
    margin-bottom: 5px;

    border-radius: 5px;
    border: 1px solid #d2d2d2;
    box-shadow:
      inset #fff 0 1px 0,
      inset rgba(0, 0, 0, 0.03) 0 -1px 0;

    background: #eee;
    background: -webkit-linear-gradient(top, #f8f8f8 0%, #dddddd 100%);
    background: -moz-linear-gradient(top, #f8f8f8 0%, #dddddd 100%);
    background: -ms-linear-gradient(top, #f8f8f8 0%, #dddddd 100%);
    background: -o-linear-gradient(top, #f8f8f8 0%, #dddddd 100%);
    background: linear-gradient(top, #f8f8f8 0%, #dddddd 100%);

    text-align: center;
    line-height: 40px;
  }
}
